<div class= "monster-gallery-header">
    <br>
    <br>        
<h2>Recent Creations</h2>
    <hr>
</div>

<div id="monster-gallery">
{{#each monster as |monster|}}
{{> monster-thumbnail}}
{{/each}}
</div>