<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monster Builder</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Asap:wght@100&family=Caveat&family=Silkscreen&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
  <header>
    <h1 id="site-title"><strong>Monster Mine</strong></h1>
    <h2><i>Dig Greedily. Dig Deep.</i></h2>
  </header>
  <br>
  <nav>
    <a href="/">Home</a>
   
    {{#if loggedIn}}
      <a href="/chamber">Chamber</a>
 
      <a id="logout" href="/">Logout</a>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <div class="Body">
      {{{body}}}
      <hr>
    </div>
  </main>


  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

  
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src = "/js/new-monster.js"></script>
<script src = "/js/monster-submit.js"></script>



</html>

