<br>
{{#if loggedIn}}
    <p style = "text-align:center">Create your own monsters by <a class = "linkage" href ="/login"><i>Logging In</i><a> and entering your <a class = "linkage" href ="/chamber"><i>Chamber</i><a> or browse the depths below for inspiration.</p>
{{else}}
    <p style = "text-align:center">Create your own monsters by <a class = "linkage" href ="/login"><i>Logging In</i><a> and entering your <a class = "linkage" href ="/login"><i>Chamber</i><a> or browse the depths below for inspiration.</p>
{{/if}}

<br>
{{> monster-gallery}}