<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.css">
<body>
    <header>
        <h1>Monster Forge</h1>
    </header>

    <h1>User ID:{{userId}}</h1>
    <div id="userId" value=""></div>
    
    <form action="#" method="post" id="monster_box">
        <label for="name">Name:</label>
        <input type="text" id="name-form" name="name" placeholder="Orc, Guard, Creature" required>
        <br>
    </form>

    <div class = "row" id ="type_box">
        <fieldset>
            <label for="size">Select a Size</label>
            <select class="btn btn-secondary dropdown-toggle" name="size" id="size">
              <option>Tiny</option>
              <option>Small</option>
              <option selected="selected">Medium</option>
              <option>Large</option>
              <option>Huge</option>
              <option>Gargantuan</option>
            </select>
        </fieldset>
        
        <form>
            <label for="category">Category:</label>
            <input type="text" id="category-form" name="category" placeholder="humanoid, monstrosity" required>
            <br>
        </form>
    </div>

    <div class = "row" id ="armor_box">
        <form>
            <label for="armor class">Armor Class:</label>
            <input type="text" inputmode = "numeric" placeholder ="15" pattern = "^\d$" onkeypress="return isNumberKey(event)" id="armor-class-form" name="armor-class" required>
            <br>
        </form>
        <form>
            <label for="armor-type">Armor Type:</label>
            <input type="text" id="armor-type-form" placeholder="natural" name="armor-type" required>
            <br>
        </form>
    </div>
        
    <div class = "row" id ="hp_box">
        <form>
            <label for="hit_dice">Number of Hit Dice (Monster Level):</label>
            <input type="text" inputmode = "numeric" placeholder="Number" pattern = "^\d$" onkeypress="return isNumberKey(event,this.id);" onkeyup="calculate_hp();" id="hit_dice_form" name="hitDice" required>
            <br>
        </form>
        <fieldset>
            <label for="hit_dice_type">Select a Hit Dice</label>
            <select class="btn btn-secondary dropdown-toggle" name="hit_dice_type" id="hit_dice_type" onchange="calculate_hp()">
              <option>d4</option>
              <option>d6</option>
              <option selected="selected">d8</option>
              <option>d10</option>
              <option>d12</option>
            </select>
        </fieldset>
       
        <div>
            <label for = "hp_calculation"> HP: </label>
            <input id = hp_calculation type="text" inputmode = "numeric" pattern = "^\d$" onkeypress="return isNumberKey(event,this.id)" placeholder="Number"></input>
        </div>
    </div>

    <div class="item-fields" id="speed_box">
        <label for="speed_box">Speed:</label>
        <button type="button" onclick="addDropDown('speed_box', 'monsterForm')">Add</button>
    </div>

    <form>

        <label for="STR">STR:</label>
        <input type="text" inputmode = "numeric" pattern = "^\d$" value = 10 onkeypress="return isNumberKey(event,this.id)" id="STR" name="STR" required>
        <br>
    
        <label for="DEX">DEX:</label>
        <input type="text" inputmode = "numeric" pattern = "^\d$" value = 10 onkeypress="return isNumberKey(event,this.id)" id="DEX" name="DEX" required>
        <br>
    
        <label for="CON">CON:</label>
        <input type="text" inputmode = "numeric" pattern = "^\d$" value = 10 onkeypress="return isNumberKey(event,this.id)" onkeyup="calculate_hp()" id="CON" name="CON" required>
        <br>
    
        <label for="INT">INT:</label>
        <input type="text" inputmode = "numeric" pattern = "^\d$" value = 10 onkeypress="return isNumberKey(event,this.id)" id="INT" name="INT" required>
        <br>
    
        <label for="WIS">WIS:</label>
        <input type="text" inputmode = "numeric" pattern = "^\d$" value = 10 onkeypress="return isNumberKey(event,this.id)" id="WIS" name="WIS" required>
        <br>
    
        <label for="CHA">CHA:</label>
        <input type="text" inputmode = "numeric" pattern = "^\d$" value = 10 onkeypress="return isNumberKey(event,this.id)" id="CHA" name="CHA" required>
        <br>
    </form>
    
    <div class="item-fields" id="savingThrows_box">
        <label for="savingThrows_box">Saving Throws:</label>
        <button type="button" onclick="addDropDown('savingThrows_box', 'monsterForm')">Add</button>
    </div>
    
    <div class="item-fields" id="skills_box">
        <label for="skills_box">Skills:</label>
        <button type="button" onclick="addDropDown('skills_box', 'monsterForm')">Add</button>
    </div>

    <div class="item-fields" id="damageResistances_box">
        <label for="damageResistances_box">Damage Resistances:</label>
        <button type="button" onclick="addDropDown('damageResistances_box', 'monsterForm')">Add</button>
    </div>
    
    <div class="item-fields" id="damageImmunities_box">
        <label for="damageImmunities_box">Damage Immunities:</label>
        <button type="button" onclick="addDropDown('damageImmunities_box', 'monsterForm')">Add</button>
    </div>

    <div class="item-fields" id="conditionImmunities_box">
        <label for="conditionImmunities_box">Condition Immunities:</label>
        <button type="button" onclick="addDropDown('conditionImmunities_box', 'monsterForm')">Add</button>
    </div>
    
    <div class="item-fields" id="senses_box">
        <label for="senses_box">Senses:</label>
        <button type="button" onclick="addDropDown('senses_box', 'monsterForm')">Add</button>
    </div>
    
    <div class="item-fields" id="languagesContainer">
        <label for="languages">Languages:</label>
        <button type="button" onclick="addTextField('languagesContainer', 'monsterForm')">Add</button>
    </div>
    
    <div>
        <label for="challenge">Challenge:</label>
        <input type="text" inputmode = "numeric" pattern = "^\d$" onkeypress="return isNumberKey(event)" id="challenge-form" name="challenge" placeholder="Number">
        <br>
    </div>
         
    <div>
        <label for="proficiencyBonus">Proficiency Bonus:</label>
        <input type="text" inputmode = "numeric" pattern = "^\d$" onkeypress="return isNumberKey(event)" id="proficiencyBonus-form" name="proficiencyBonus" placeholder="Number"><br>
    </div>
        
    
    <div id="traitsContainer">
        <label for="traits">Traits:</label>
        <button type="button" onclick="addTextField('traitsContainer', 'monsterForm')">Add</button>
    </div>
        
    <div id="actionBlock">
        <label for="traits">Action:</label>
        <button type="button" onclick="addDropDown('actionBlock', 'monsterForm')">Add</button>
    </div>

          <form action="/upload" class="dropzone" id="monster-image-dropzone" enctype="multipart/form-data"></form>
    </div>
  </main>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>
  <script>
    // Initialize Dropzone
    Dropzone.autoDiscover = false;
    const myDropzone = new Dropzone("#monster-image-dropzone", {
      url: "/upload",
      paramName: "monsterImage", // upload name
      maxFilesize: 2, // MB
      acceptedFiles: "image/*",
      addRemoveLinks: true,
    });
  </script>

    <button class="btn btn-secondary" type="button" id="monsterCreateSubmit">
        Submit
    </button>
  
</body>
