:root {
  /* --dark: #182c23; */
  --error: rgb(228, 46, 1);
--darkest: #130b0b;
--dark: #4a4e69;
--mid: #9a8c98;
--light: #c9ada7;
--paper: #e7d5c5;
--lightest: #f2e9e4;
margin-left: 5%;
margin-right: 5%;
font-family: 'Silkscreen', sans-serif;
}

header {
margin-top: 5%;
margin-bottom: 3%;
  /* padding: 110px; */
  text-align: center;
  background: var(--darkest);
  color: var(--paper);
  font-size: xx-large;
  font-weight: bold;
}

#site-title{
  color: var(--paper);
  background-image: linear-gradient(to top, #f33279, #c95945);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size:  80px;
}

body {
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--darkest);
  color: var(--paper);
  font-family: 'Silkscreen', sans-serif;
}

nav {
  background-color: var(--dark);
  /* background: linear-gradient(180deg ,#4a4e69, #c9ada7); */
  padding: 10px;
  font-size: larger;
  margin-left: 10%;
  margin-right: 10%;
  border: 5px;
  border-style: solid;
  border-color: var(--mid);
}

nav a {
  color: var(--lightest);
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  color: var(--darkest);
}

.monster-detail-sheet {
  /* margin: 0 auto; */
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: var(--paper);
  color: var(--darkest);
  padding: 1%;
  max-width: 85%;
  font-family: 'Silkscreen','Franklin Gothic Medium',  'Arial Narrow', Arial, sans-serif;
  /* font-family:cursive; */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* font-family: Adobe Garamond Pro; */
  /* font-family: IM Fell English; */
  /* font-family:Caslon Antique; */
  /* font-family:JSL Ancient; */
  /* font-family:Elder Futhark; */
  /* font-family:MedievalSharp; */
  line-height: normal;
  border-radius: 10px; 
} 

.monster-detail-sheet hr {
background-color: var(--darkest);
border: none;
 height: 1px;
 background: linear-gradient(90deg ,#22223b, #22223b54, #69674a2d);
 margin: 20px 0; 
 /* max-width: 50%; */
}

@media (max-width: 768px) {
  .monster-detail-sheet {
    margin: 5%
  }
}

p {
  line-height: .8; /* Adjust the value as needed */
}


#monster-gallery {
  background: var(--darkest);
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-wrap: wrap;
  gap: 1%; 
}

.monster-gallery-header{
  background: var(--darkest);
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.thumbnail {
  flex: 1 0 200px; 
  border: 2px double var(--paper); 
  padding: 15px;
  background-color: var(--mid);
  margin-top: 3%;
  max-width: 280px;
}

.thumbnail :hover {
  color: #1a0f0f;
}

.thumbnail a {
  text-decoration: none;
  color:var(--darkest);
  font-size: smaller;
}


.thumbnail img {
  max-width: 100%;
  height: auto; 
}

.btn.btn-primary{
  font-family: 'Silkscreen', sans-serif;
  background: linear-gradient(to top, #f332798f, #c959457c);
  border: none; 
  border-color: var(--mid);
  border-radius: 0;
}


.btn.btn-primary:hover {
  background: linear-gradient(to right, #e47562, #f55992);

}

#chamber-body{
align-items: center;
text-align: center;
}

#create-new-monster a{
  text-decoration: none;
  width: 100px;
  font-size: larger;
}

.monster-detail-sheet {
  display: flex;
  justify-content: space-between;
  max-width: 85%;
  margin: 5%;
}

.monster-text-container {
  flex: 1;
  padding: 1%;
}

.monster-image-container {
  flex: 1;
  text-align: right;
}

.monster-image {
  max-width: 300px;
  border: 8px solid #8B4513;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px #8B4513;
  background-color: #D2B48C;
  margin-top: 10px;
  margin-right: 20px;
}

@media (max-width: 950px) {
  .monster-detail-sheet {
    flex-direction: column;
    align-items: center;
  }

  .monster-image {
    max-width: 100%;
    margin-top: 10px;
  }
}

@media (min-width: 1250px) {
  .monster-image {
    max-width: 500px;
  }
}