:root {

  /* --dark: #182c23; */
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
  --gold1: #f9f295;
  --gold2: #f7ef8a;
  --gold3: #e0aa3e;
  --gold4: #b88a44;

  /*      Dark Blue
  --primary: #0d1b2a;
  --secondary: #1b263b;
  --tertiary: #415a77;
  --quatrinary: #778da9;
  --light: #e0e1dd;     */

/* Reds
--darkred: #250902
--lessdarkred: #38040e
--Red: #640d14
--lightRed: #800e13
--LighterRed: #ad2831
*/

/* ToneShift */
--darkest: #22223b;
--dark: #4a4e69;
--mid: #9a8c98;
--light: #c9ada7;
--lightest: #f2e9e4;
margin-left: 5%;
margin-right: 5%;
color: var(--light);
font-family: 'Silkscreen', sans-serif;
}

body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--darkest);
  color: var(--light);
}

header {
  padding: 40px;
  text-align: center;
  background: var(--darkest);
  color: var(--light);

}

#monster-gallery {
  background: var(--darkest);
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
 
}

nav{
  background: var(--darkest);

}

hr {
  border: none; /* Remove default border */
  height: 2px; /* Set the height of the rule */
  background: linear-gradient(90deg , #22223b, #4a4e69 , #9a8c98, #f2e9e4, #9a8c98, #4a4e69,#22223b );
  margin: 20px 0; /* Add some margin for spacing */
};

input:focus::-webkit-input-placeholder {
	color : transparent;
}
input:focus::-moz-placeholder {
	color : transparent;
}
input:-moz-placeholder {
	color : transparent;
}
input:focus::-webkit-input-placeholder {
	opacity : 0;
}
input:focus::-moz-placeholder {
	opacity : 0;
}
input:-moz-placeholder {
	opacity : 0;
}

textarea:focus::-webkit-input-placeholder {
	color : transparent;
}
textarea:focus::-moz-placeholder {
	color : transparent;
}
textarea:-moz-placeholder {
	color : transparent;
}
textarea:focus::-webkit-input-placeholder {
	opacity : 0;
}
textarea:focus::-moz-placeholder {
	opacity : 0;
}
textarea:-moz-placeholder {
	opacity : 0;
}
/* background: linear-gradient(90deg , #22223b, #f0edec3f , #e0d9cec9, #e0dacec9, #e0d9cec9, #f0edec3b,#22223b ); */